@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata';
/*  background: linear-gradient(to bottom, #FD746C, #2C3E50);
*/  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 25px 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: white;
}
